<head>
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<h1>Pet's Info</h1>
<form action="/pet" method="post">
<label for="pet-name">Pet's Name</label>
<input type="text" name="pet-name" id="pet-name">
</form>
