<h1>Tamagotchi!!!</h1>
<ul>
@foreach(var pet in Model)
{
<li><a href='/pet/@pet.GetId()'>Pet Name: @pet.GetPetName()</a></li>
}
</ul>
<a href="/pet/new">Add a new pet</a>
<form action='pet/delete' method='post'>
<button type="submit" name="button">Clear All</button>
</form>
